body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background: #ffffff;
}

.banner {
  border: 3px solid #000;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.shops {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.shop {
  border: 3px solid #000;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.shop:hover {
  background: #f0f0f0;
}
.hidden {
  display: none;
}

.shop-details {
  padding: 10px;
}

.shop-images img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.tg-button {
  display: block;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  background: #2ea6ff;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
}

#back-btn {
  margin-bottom: 15px;
}
